[submodule "FNA"]
	path = FNA
	url = https://github.com/FNA-XNA/FNA.git
[submodule "GameEngine/fnalibs"]
	path = GameEngine/fnalibs
	url = https://github.com/danielcrenna/fnalibs.git
[submodule "GameEngine/FNA-libs"]
	path = GameEngine/FNA-libs
	url = https://github.com/deccer/FNA-libs.git
